.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  height: 200vh;
  background-size: cover;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 20vw;
}
